[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
inotify = "*"
pyperclip = "*"
inkscape-figures = {file = ".", editable = true}
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.10"
